<form [formGroup]="f" (ngSubmit)="onSubmit()">
  <div>
    <textarea cols="30" rows="4" formControlName="text"></textarea>
  </div>
  <div>
    <label><input type="checkbox" formControlName="isUrgent"> tâche urgente</label>
  </div>
  <div>
    <button type="reset">Reset</button>
    <button [disabled]="f.invalid">Submit</button>
  </div>
</form>
<br>
<br>
<br>
<br>
<div class="table">
  <div class="row header">
    <div class="col col-1">Texte</div>
    <div class="col col-2">Urgent ?</div>
  </div>
  <div *ngFor="let r of todolist" class="row">
    <div class="col col-1">{{r.text}}</div>
    <div class="col col-2">{{r.isUrgent}}</div>
  </div>
</div>