header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: #eee;
    .logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        img {
            width: 2rem;
            padding: 0.5rem;
        }
        span {
            font-size: 1.5rem;
        }
    }
    nav {
        a {
            margin: 0.5rem;
            padding: 0.5rem;
            color: black;
            text-decoration: none;
        }
    }
}